<footer class="bg-dark  text-center text-lg-start text-muted ">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block text-white">
            <span>Stay connected with us on social media!</span>
        </div>
        <div>
            <a href="https://www.facebook.com/" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a>
            <a href="https://x.com/?lang=en" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
            <a href="https://www.google.com/maps " class="me-4 text-reset"><i class="fab fa-google"></i></a>
            <a href="https://www.instagram.com/?hl=en" class="me-4 text-reset"><i class="fab fa-instagram"></i></a>
            <a href="https://in.linkedin.com/" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/" class="me-4 text-reset"><i class="fab fa-github"></i></a>
        </div>
    </section>

    <section class="py-5 text-white">
        <div class="container text-center text-md-start">
            <div class="row">
                <!-- ShopKart Brand -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i> ShopKart
                    </h6>
                    <p>Experience the best fashion collections for all ages, carefully curated for every style.</p>
                </div>

                <!-- Products -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="http://127.0.0.1:8000/collections/Mobiles" class="text-reset">Mobile's</a></p>
                    <p><a href="http://127.0.0.1:8000/collections/Toys%20&%20Games" class="text-reset">Toy & game's</a></p>
                    <p><a href="http://127.0.0.1:8000/collections/Laptop" class="text-reset">Laptop</a></p>
                    <p><a href="http://127.0.0.1:8000/collections/Sports%20&%20Fitness" class="text-reset">Sport & Fitness</a></p>
                </div>

                <!-- Links -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Quick Links</h6>
                    <p><a href="http://127.0.0.1:8000/" class="text-reset">Home</a></p>
                    <p><a href="http://127.0.0.1:8000/collections/" class="text-reset">Collections</a></p>
                    <p><a href="http://127.0.0.1:8000/about-us/" class="text-reset">About US</a></p>
                    <p><a href="http://127.0.0.1:8000/cart/" class="text-reset">Cart</a></p>
                    
                    
                </div>

                <!-- Contact -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                    <p><i class="fas fa-home me-3"></i> City, Country</p>
                    <p><i class="fas fa-envelope me-3"></i> info@shopkart.com</p>
                    <p><i class="fas fa-phone me-3"></i> +91 9876 543 210</p>
                    <p><i class="fas fa-clock me-3"></i> Mon - Fri: 9 AM - 6 PM</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center text-white p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        &copy; 2024 <a class="text-reset fw-bold" href="http://127.0.0.1:8000/">ShopKart.com</a>. All Rights Reserved.
    </div>
</footer>

