/* a{
    text-decoration: none;
}
.pic-box {
    position: relative;
    }
.hot {
    background-color: orangered;
    color: white;
    width: 50px;
    text-align: center;
    font-weight: bold;
    display: inline;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 10;
}
.old_price {
    font-weight: bold;
    color: red;
}
.new_price {
    font-weight: bold;
    background-color:green;
    color: white;
    padding: 2px;
    border-radius: 10px;
} */